<div class="menuContainer">
  <div class="hamburger" id="hamburger" onclick="toggleMenu()">☰</div>

  <div class="navBar" id="navBar">
    <a class="textNavBar" href="/src/viewProfile.html" data-page="/src/viewProfile.html"
      >Visualizar Perfil</a
    >
    <a
      class="textNavBar"
      href="/src/exerciseList.html"
      data-page="exerciseList.html"
      >Lista de Exercícios</a
    >
    <a class="textNavBar" href="/src/imc.html" data-page="/src/imc.html"
      >Calculadora de IMC</a
    >
    <a class="textNavBar" hre="/src/login.html" data-page="/src/login.html">Login</a>
    <a class="textNavBar" hre="/src/register.html" data-page="/src/register.html"
      >Cadastre-se</a
    >
    <a
      class="textNavBar"
      hre="/src/professionalProfile.html"
      data-page="professionalProfile.html"
      >Ver Perfis Profissionais</a
    >
  </div>
</div>
