<div class="menuContainer">
  <div class="hamburger" id="hamburger" onclick="toggleMenu()">☰</div>

  <div class="navBar" id="navBar">
    <a class="textNavBar" href="viewProfile.html" data-page="viewProfile.html"
      >Visualizar Perfil</a
    >
    <a
      class="textNavBar"
      href="exerciseList.html"
      data-page="exerciseList.html"
      >Lista de Exercícios</a
    >
    <a class="textNavBar" href="imc.html" data-page="imc.html"
      >Calculadora de IMC</a
    >
    <a class="textNavBar" hre="login.html" data-page="login.html">Login</a>
    <a class="textNavBar" hre="register.html" data-page="register.html"
      >Cadastre-se</a
    >
    <a
      class="textNavBar"
      hre="professionalProfile.html"
      data-page="professionalProfile.html"
      >Ver Perfis Profissionais</a
    >
  </div>
</div>
